In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\henry\anaconda3\lib\site-packages (4.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.9 in c:\users\henry\anaconda3\lib\site-packages (from pyspark) (0.10.9.9)

<h3>Step 1: Start SparkSession</h3>

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("HRAnalyticsPipline").getOrCreate()
spark

<h3>Step 2: Import Datasets for HR </h3>

In [4]:
hr_df = spark.read.csv("HR_dataset.csv", header=True, inferSchema=True)
hr_df.show(5)

+----------+---------+--------+---------+--------+--------------------+---------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+----------------+-------------------+-----------------------+-------------+
|Unnamed: 0|FirstName|LastName|StartDate|ExitDate|               Title|     Supervisor|             ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|   DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|Employee ID|Survey Date|Engagement Score|Satisfaction Score|Work-Life Balance Score|Training Date|Training Program Name|Training Type|Training Outcome|        Location|            Trainer|Training Duration(Days)|Training Cost|
+----------+---------+--------+---------+--------+--------------------+---------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+----------------+-------------------+-----------------------+-------------+
|         0|    Uriah| Bridges|20-Sep-19|    NULL|Production Techni...|   Peter Oneill|uriah.bridges@bil...|        CCDR|        Active|    Contract| Zone C|                 Temporary|            Unk|                  NULL|Production       |Finance & Accounting|07-10-1969|   MA|            Accounting|    Female|       34904|   White|    Widowed|      Fully Meets|                      4|       3427| 14-01-2023|               1|                 2|                      3|    15-Jul-23| Leadership Develo...|     Internal|          Failed|    South Marisa|   Taylor Rodriguez|                      2|       606.11|
|         1|    Paula|   Small|11-Feb-23|    NULL|Production Techni...|Renee Mccormick|paula.small@bilea...|          EW|        Active|    Contract| Zone A|                 Part-Time|            Unk|                  NULL|Production       |              Aerial|30-08-1965|   MA|                 Labor|      Male|        6593|Hispanic|    Widowed|      Fully Meets|                      3|       3428| 09-09-2022|               2|                 1|                      5|    12-Sep-22|     Customer Service|     External|      Incomplete|     Tammieville|Kelly Patterson DDS|                      4|       673.02|
|         2|   Edward|    Buck|10-Dec-18|    NULL|  Area Sales Manager| Crystal Walker|edward.buck@bilea...|          PL|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|                  NULL|            Sales|       General - Sga|06-10-1991|   MA|             Assistant|      Male|        2330|Hispanic|    Widowed|      Fully Meets|                      4|       3429| 27-05-2023|               1|                 2|                      1|    13-Aug-22| Leadership Develo...|     External|          Failed|East Roberthaven|      Taylor Thomas|                      2|       413.28|
|         3|  Michael| Riordan|21-Jun-21|    NULL|  Area Sales Manager| Rebekah Wright|michael.riordan@b...|        CCDR|        Active|    Contract| Zone A|                 Full-Time|            Unk|                  NULL|            Sales|Finance & Accounting|04-04-1998|   ND|                 Clerk|      Male|       58782|   Other|     Single|      Fully Meets|                      2|       3430| 16-06-2023|               5|                 5|                      4|    15-Dec-22|   Project Management|     External|       Completed|       Garzatown|      Holly Elliott|                      3|       663.78|
|         4|  Jasmine|   Onque|29-Jun-19|    NULL|  Area Sales Manager|      Jason Kim|jasmine.onque@bil...|         TNS|        Active|    Contract| Zone A|                 Temporary|            Unk|                  NULL|            Sales|       General - Con|29-08-1969|   FL|               Laborer|    Female|       33174|   Other|    Married|      Fully Meets|                      3|       3431| 25-11-2022|               2|                 5|                      3|    13-Jul-23|     Technical Skills|     External|          Failed| Lake Meganville|    Donald Martinez|                      5|       399.03|
+----------+---------+--------+---------+--------+--------------------+---------------+--------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+----------------+-------------------+-----------------------+-------------+
only showing top 5 rows

<h3>Step 3: Perform cleaning for HR Dataset</h3>

In [5]:
#a. view missing values
from pyspark.sql.functions import col, sum, when
# Count nulls per column
def missing_report(df):
    return df.select([
        sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
        for c in df.columns
    ])
missing_report(hr_df).show()

+----------+---------+--------+---------+--------+-----+----------+-------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+--------+-------+-----------------------+-------------+
|Unnamed: 0|FirstName|LastName|StartDate|ExitDate|Title|Supervisor|ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|DepartmentType|Division|DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|Employee ID|Survey Date|Engagement Score|Satisfaction Score|Work-Life Balance Score|Training Date|Training Program Name|Training Type|Training Outcome|Location|Trainer|Training Duration(Days)|Training Cost|
+----------+---------+--------+---------+--------+-----+----------+-------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+--------+-------+-----------------------+-------------+
|         0|        0|       0|        0|    1544|    0|         0|      0|           0|             0|           0|      0|                         0|              0|                  1544|             0|       0|  0|    0|                     0|         0|           0|       0|          0|                0|                      0|          0|          0|               0|                 0|                      0|            0|                    0|            0|               0|       0|      0|                      0|            0|
+----------+---------+--------+---------+--------+-----+----------+-------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+--------+-------+-----------------------+-------------+

This generates a full list of missing-value table.

We decided to leave as it is. No need to fill ExitDate with NULL.

In [6]:
#b. create a clean copy
hr_clean = hr_df

<p>Reason:<br>
This will prevent overwriting raw data</p>

In [7]:
#c. handling the missing values
from pyspark.sql.functions import col
# Replace missing termination description with "Not Applicable"
hr_clean = hr_clean.fillna({"TerminationDescription": "Not Applicable"})

print("Missing Values After Cleaning:")
missing_report(hr_clean).show(truncate=False)

Missing Values After Cleaning:
+----------+---------+--------+---------+--------+-----+----------+-------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+--------+-------+-----------------------+-------------+
|Unnamed: 0|FirstName|LastName|StartDate|ExitDate|Title|Supervisor|ADEmail|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|DepartmentType|Division|DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|Employee ID|Survey Date|Engagement Score|Satisfaction Score|Work-Life Balance Score|Training Date|Training Program Name|Training Type|Training Outcome|Location|Trainer|Training Duration(Days)|Training Cost|
+----------+---------+--------+---------+--------+-----+----------+-------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+--------+-------+-----------------------+-------------+
|0         |0        |0       |0        |1544    |0    |0         |0      |0           |0             |0           |0      |0                         |0              |0                     |0             |0       |0  |0    |0                     |0         |0           |0       |0          |0                |0                      |0          |0          |0               |0                 |0                      |0            |0                    |0            |0               |0       |0      |0                      |0            |
+----------+---------+--------+---------+--------+-----+----------+-------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+--------+-------+-----------------------+-------------+

<p>We identified missing values in ExitDate and TerminationDescription.</p>
<p>- Missing ExitDate values indicate that an employee is still active, therefore these nulls were intentionally preserved and later used to compute the TurnoverFlag.</br>
- Missing TerminationDescription appears only for active employees because no termination reason exists. These were replaced with "Not Applicable" to prevent issues during reporting and segmentation..</p>

<h3>Step 4: Perform the Data Transformation for HR</h3>

In [8]:
#a. clean column names by removing spaces and special characters
import re
def clean_column_name(col):
    col = col.replace(" ", "_")
    col = col.replace("-", "_")
    col = re.sub(r"[()]", "", col)
    return col
for col_name in hr_clean.columns:
    hr_clean = hr_clean.withColumnRenamed(col_name, clean_column_name(col_name))
print("After cleaning column names:")
hr_clean.printSchema()

After cleaning column names:
root
 |-- Unnamed:_0: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- ExitDate: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Supervisor: string (nullable = true)
 |-- ADEmail: string (nullable = true)
 |-- BusinessUnit: string (nullable = true)
 |-- EmployeeStatus: string (nullable = true)
 |-- EmployeeType: string (nullable = true)
 |-- PayZone: string (nullable = true)
 |-- EmployeeClassificationType: string (nullable = true)
 |-- TerminationType: string (nullable = true)
 |-- TerminationDescription: string (nullable = false)
 |-- DepartmentType: string (nullable = true)
 |-- Division: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- State: string (nullable = true)
 |-- JobFunctionDescription: string (nullable = true)
 |-- GenderCode: string (nullable = true)
 |-- LocationCode: integer (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- Performance_Score: string (nullable = true)
 |-- Current_Employee_Rating: integer (nullable = true)
 |-- Employee_ID: integer (nullable = true)
 |-- Survey_Date: string (nullable = true)
 |-- Engagement_Score: integer (nullable = true)
 |-- Satisfaction_Score: integer (nullable = true)
 |-- Work_Life_Balance_Score: integer (nullable = true)
 |-- Training_Date: string (nullable = true)
 |-- Training_Program_Name: string (nullable = true)
 |-- Training_Type: string (nullable = true)
 |-- Training_Outcome: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Trainer: string (nullable = true)
 |-- Training_DurationDays: integer (nullable = true)
 |-- Training_Cost: double (nullable = true)

<p>Reason:<br>
To improve pipeline transformations and avoid Spark conflicts when referencing column name, all column names were normalized into snake_case and cleaned of special characters</p>

In [9]:
#b. convert date columns to correct date fields
from pyspark.sql.functions import to_date, col
date_formats = {
    "StartDate": "dd-MMM-yy",
    "ExitDate": "dd-MMM-yy",
    "DOB": "dd-MM-yyyy",
    "Training_Date": "dd-MMM-yy",
    "Survey_Date": "dd-MM-yyyy"
}
for c, fmt in date_formats.items():
    if c in hr_clean.columns:
        hr_clean = hr_clean.withColumn(c, to_date(col(c), fmt))
print("After converting date columns:")
hr_clean.select("StartDate", "ExitDate", "DOB", "Training_Date", "Survey_Date").show(5)

After converting date columns:
+----------+--------+----------+-------------+-----------+
| StartDate|ExitDate|       DOB|Training_Date|Survey_Date|
+----------+--------+----------+-------------+-----------+
|2019-09-20|    NULL|1969-10-07|   2023-07-15| 2023-01-14|
|2023-02-11|    NULL|1965-08-30|   2022-09-12| 2022-09-09|
|2018-12-10|    NULL|1991-10-06|   2022-08-13| 2023-05-27|
|2021-06-21|    NULL|1998-04-04|   2022-12-15| 2023-06-16|
|2019-06-29|    NULL|1969-08-29|   2023-07-13| 2022-11-25|
+----------+--------+----------+-------------+-----------+
only showing top 5 rows

<p>Reason:<br>
Date fields were converted from string to date types to allow calculations for tenure, age, training timelines and other time-based analytics</p>

In [10]:
#c. create new column for age
from pyspark.sql.functions import months_between, current_date, floor
hr_clean = hr_clean.withColumn("Age", floor(months_between(current_date(), col("DOB")) / 12))
print("Age column sample:")
hr_clean.select("DOB", "Age").show(5)

Age column sample:
+----------+---+
|       DOB|Age|
+----------+---+
|1969-10-07| 56|
|1965-08-30| 60|
|1991-10-06| 34|
|1998-04-04| 27|
|1969-08-29| 56|
+----------+---+
only showing top 5 rows

In [11]:
#d. create new column for agegroup
from pyspark.sql.functions import when, col
hr_clean = hr_clean.withColumn(
    "AgeGroup",
    when(col("Age") < 30, "Under 30")
    .when((col("Age") >= 30) & (col("Age") <= 39), "30-39")
    .when((col("Age") >= 40) & (col("Age") <= 49), "40-49")
    .when((col("Age") >= 50) & (col("Age") <= 59), "50-59")
    .otherwise("60+")
)
hr_clean.groupBy("AgeGroup").count().show()

+--------+-----+
|AgeGroup|count|
+--------+-----+
|   30-39|  550|
|     60+| 1315|
|   40-49|  512|
|Under 30|  316|
|   50-59|  457|
+--------+-----+

<p>Reason:<br>
- DOB is not useful for analytics, however we can calculate the age of employees<br>
- AgeGroup is required for workforce segmentation</p>

In [12]:
#e. create new column for tenure(in years)
hr_clean = hr_clean.withColumn("Tenure", floor(months_between(current_date(), col("StartDate")) / 12))
print("Tenure column sample:")
hr_clean.select("StartDate", "Tenure").show(5)

Tenure column sample:
+----------+------+
| StartDate|Tenure|
+----------+------+
|2019-09-20|     6|
|2023-02-11|     2|
|2018-12-10|     6|
|2021-06-21|     4|
|2019-06-29|     6|
+----------+------+
only showing top 5 rows

<p>Reason:<br>
- The StartDate alone isn’t actionable. We have created a tenure column which is needed for workforce analysis<br>
- Helps evaluate employee stability and retention</p>

In [13]:
#f. turnover flag for active or left employees
from pyspark.sql.functions import when, col
hr_clean = hr_clean.withColumn(
    "TurnoverFlag",
    when(col("ExitDate").isNull(), 0).otherwise(1)
)
print("Turnover flag sample:")
hr_clean.select("ExitDate", "TurnoverFlag").show(5)

Turnover flag sample:
+--------+------------+
|ExitDate|TurnoverFlag|
+--------+------------+
|    NULL|           0|
|    NULL|           0|
|    NULL|           0|
|    NULL|           0|
|    NULL|           0|
+--------+------------+
only showing top 5 rows

<p>Reason:<br>
- The Turnover is currently 0 for active employees and 1 for left employees.<br>
- Required for turnover analysis by department, gender, race, etc</p>

In [14]:
#g. convert numeric columns
numeric_cols = [
    "Training_DurationDays",
    "Training_Cost",
    "Engagement_Score",
    "Satisfaction_Score",
    "Work_Life_Balance_Score",
    "Current_Employee_Rating"
]
for c in numeric_cols:
    if c in hr_clean.columns:
        hr_clean = hr_clean.withColumn(c, col(c).cast("double"))

<p>Reason:<br>
- Numeric attributes were cast to double precision to support analytic operations, aggregations and model-friendly formats<br>
- Required for calculations, averages, correlations and ML</p>

In [15]:
#h. drop useless columns
cols_to_drop = ["Unnamed:_0", "ADEmail", "Supervisor", "Trainer"]
hr_clean = hr_clean.drop(*cols_to_drop)

<p>Reason:<br>
We are deleting these columns because they do not contribute to the analytical goals of the project. Below is a breakdown:<br>
- Unnamed:_0 is an index generated during CSV export and has no semantic meaning<br>
- ADEmail contains personal identifiers that do not support analysis and should not be included for privacy reasons<br>
- Supervisor and Trainer contain high-cardinality values that are not required for the KPIs or transformations in this pipeline and retaining them introduces unnecessary noise</p>

In [16]:
print("Final cleaned data for HR data:")
hr_clean.show(5, truncate=False)

Final cleaned data for HR data:
+---------+--------+----------+--------+-----------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+----------------------+-------------+----------------+----------------+---------------------+-------------+---+--------+------+------------+
|FirstName|LastName|StartDate |ExitDate|Title                  |BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription|DepartmentType   |Division            |DOB       |State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance_Score|Current_Employee_Rating|Employee_ID|Survey_Date|Engagement_Score|Satisfaction_Score|Work_Life_Balance_Score|Training_Date|Training_Program_Name |Training_Type|Training_Outcome|Location        |Training_DurationDays|Training_Cost|Age|AgeGroup|Tenure|TurnoverFlag|
+---------+--------+----------+--------+-----------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+----------------------+-------------+----------------+----------------+---------------------+-------------+---+--------+------+------------+
|Uriah    |Bridges |2019-09-20|NULL    |Production Technician I|CCDR        |Active        |Contract    |Zone C |Temporary                 |Unk            |Not Applicable        |Production       |Finance & Accounting|1969-10-07|MA   |Accounting            |Female    |34904       |White   |Widowed    |Fully Meets      |4.0                    |3427       |2023-01-14 |1.0             |2.0               |3.0                    |2023-07-15   |Leadership Development|Internal     |Failed          |South Marisa    |2.0                  |606.11       |56 |50-59   |6     |0           |
|Paula    |Small   |2023-02-11|NULL    |Production Technician I|EW          |Active        |Contract    |Zone A |Part-Time                 |Unk            |Not Applicable        |Production       |Aerial              |1965-08-30|MA   |Labor                 |Male      |6593        |Hispanic|Widowed    |Fully Meets      |3.0                    |3428       |2022-09-09 |2.0             |1.0               |5.0                    |2022-09-12   |Customer Service      |External     |Incomplete      |Tammieville     |4.0                  |673.02       |60 |60+     |2     |0           |
|Edward   |Buck    |2018-12-10|NULL    |Area Sales Manager     |PL          |Active        |Full-Time   |Zone B |Part-Time                 |Unk            |Not Applicable        |Sales            |General - Sga       |1991-10-06|MA   |Assistant             |Male      |2330        |Hispanic|Widowed    |Fully Meets      |4.0                    |3429       |2023-05-27 |1.0             |2.0               |1.0                    |2022-08-13   |Leadership Development|External     |Failed          |East Roberthaven|2.0                  |413.28       |34 |30-39   |6     |0           |
|Michael  |Riordan |2021-06-21|NULL    |Area Sales Manager     |CCDR        |Active        |Contract    |Zone A |Full-Time                 |Unk            |Not Applicable        |Sales            |Finance & Accounting|1998-04-04|ND   |Clerk                 |Male      |58782       |Other   |Single     |Fully Meets      |2.0                    |3430       |2023-06-16 |5.0             |5.0               |4.0                    |2022-12-15   |Project Management    |External     |Completed       |Garzatown       |3.0                  |663.78       |27 |Under 30|4     |0           |
|Jasmine  |Onque   |2019-06-29|NULL    |Area Sales Manager     |TNS         |Active        |Contract    |Zone A |Temporary                 |Unk            |Not Applicable        |Sales            |General - Con       |1969-08-29|FL   |Laborer               |Female    |33174       |Other   |Married    |Fully Meets      |3.0                    |3431       |2022-11-25 |2.0             |5.0               |3.0                    |2023-07-13   |Technical Skills      |External     |Failed          |Lake Meganville |5.0                  |399.03       |56 |50-59   |6     |0           |
+---------+--------+----------+--------+-----------------------+------------+--------------+------------+-------+--------------------------+---------------+----------------------+-----------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+----------------------+-------------+----------------+----------------+---------------------+-------------+---+--------+------+------------+
only showing top 5 rows

<h3>Step 6: Import Datasets for HR</h3>

In [17]:
pay_df = spark.read.csv("payroll-2025.csv", header=True, inferSchema=True)
pay_df.show(5, truncate=False)

+----------------------------------------+----------------------------------------+----------+------+-------------------------+---------+-----------+----------------------+---------------+-------------+----------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+
|Hash1                                   |Hash2                                   |Birth Year|Gender|Race                     |Pay Grade|FLSA Status|EEOJ Code             |Employment Type|Department ID|Department Name       |Status   |Year|Date Position Began|Date Position Ended|Annual Base Salary|Gross Pay|Base Pay|Overtime Pay|Other Pay|
+----------------------------------------+----------------------------------------+----------+------+-------------------------+---------+-----------+----------------------+---------------+-------------+----------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+
|C99E0C04311A1FBD86A68E01527B3D4F9CFAF656|8FBD6E88FE846F798156B53582A07FE68C24D5D8|1955      |Female|Black or African American|15       |Non-Exempt |B: Professionals      |Full Time      |1600         |Municipal Courts      |Withdrawn|2025|01/01/2025         |01/02/2025         |51667.0           |1286.61  |1192.32 |0.0         |94.29    |
|F224E67D62558473D8FD5F0332489905C592CDB5|4F2E3C274FFDC92F8436C9E15BF42DEDA1B62DEA|1955      |Female|White                    |20       |Exempt     |B: Professionals      |Full Time      |3600         |Parks & Recreation    |Withdrawn|2025|01/01/2025         |01/02/2025         |67337.0           |1890.61  |1812.91 |0.0         |77.7     |
|097646E986686B036D654E005F9581BE32377675|D9EFEE57EBA8157AAEBE1FC9B3EAEBD0348C7652|1963      |Male  |Black or African American|27       |Exempt     |B: Professionals      |Full Time      |1000         |Police                |Withdrawn|2025|01/01/2025         |01/02/2025         |117620.0          |98009.09 |3166.68 |0.0         |94842.41 |
|2010C72D5CEE0AE8FA62F194DCEA2C1BAF1211A0|A4B01138B5CF79624949F94BDAE9366E6469F5E8|1973      |Male  |Black or African American|06       |Non-Exempt |H: Service/Maintenance|Full Time      |2000         |Houston Public Works  |Withdrawn|2025|01/01/2025         |01/02/2025         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |
|51A39920542A5C29D48B4EE8955CAEB3F7FF5322|50FAA8C948DD01067D238331EABD3E888DFE1033|1959      |Male  |Black or African American|13       |Non-Exempt |H: Service/Maintenance|Full Time      |2100         |Solid Waste Management|Withdrawn|2025|01/01/2025         |01/02/2025         |58386.0           |20728.21 |1571.92 |0.0         |19156.29 |
+----------------------------------------+----------------------------------------+----------+------+-------------------------+---------+-----------+----------------------+---------------+-------------+----------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+
only showing top 5 rows

<h3>Step 7: Perform Cleaning for Payroll dataset</h3>

In [18]:
#a. create clean copy
pay_clean = pay_df

<p>Reason:<br>
This is to keep pay_df, which is the original dataset and avoid overwriting it during cleaning</p>

In [19]:
#b. view missing values for payroll
from pyspark.sql.functions import col, sum, when
# Count nulls per column
def missing_report(df):
    return df.select([
        sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
        for c in df.columns
    ])
missing_report(pay_clean).show()

+-----+-----+----------+------+----+---------+-----------+---------+---------------+-------------+---------------+------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+
|Hash1|Hash2|Birth Year|Gender|Race|Pay Grade|FLSA Status|EEOJ Code|Employment Type|Department ID|Department Name|Status|Year|Date Position Began|Date Position Ended|Annual Base Salary|Gross Pay|Base Pay|Overtime Pay|Other Pay|
+-----+-----+----------+------+----+---------+-----------+---------+---------------+-------------+---------------+------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+
|    0|    0|         0|     0|   0|        0|          0|        0|              0|            0|              0|     0|   0|                  0|              22462|                 0|        0|       0|           0|        0|
+-----+-----+----------+------+----+---------+-----------+---------+---------------+-------------+---------------+------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+

In [20]:
from pyspark.sql.functions import when, col
pay_clean = pay_clean.withColumn(
    "PositionEndFlag",
    when(col("Date Position Ended").isNull(), "Not Ended").otherwise("Ended")
)
missing_report(pay_clean).show(truncate=False)

+-----+-----+----------+------+----+---------+-----------+---------+---------------+-------------+---------------+------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+
|Hash1|Hash2|Birth Year|Gender|Race|Pay Grade|FLSA Status|EEOJ Code|Employment Type|Department ID|Department Name|Status|Year|Date Position Began|Date Position Ended|Annual Base Salary|Gross Pay|Base Pay|Overtime Pay|Other Pay|PositionEndFlag|
+-----+-----+----------+------+----+---------+-----------+---------+---------------+-------------+---------------+------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+
|0    |0    |0         |0     |0   |0        |0          |0        |0              |0            |0              |0     |0   |0                  |22462              |0                 |0        |0       |0           |0        |0              |
+-----+-----+----------+------+----+---------+-----------+---------+---------------+-------------+---------------+------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+

<p>As you can see, there is Date Position Ended column with missing values. These null values are intentional because they represent employees whose job positions were still active at the time of data extraction.</br>
Since this information is meaningful, the null values were preserved and used to derive an additional flag to support retention and workforce stability analysis.</p>

<h3>Step 8: Perform the Data Transformation for Payroll Dataset</h3>

In [21]:
#a. clean the column names 
import re
def clean_column_name(col):
    col = col.replace(" ", "_")
    col = col.replace("-", "_")
    col = re.sub(r"[()]", "", col)
    return col
for col_name in pay_clean.columns:
    pay_clean = pay_clean.withColumnRenamed(col_name, clean_column_name(col_name))
print("After cleaning column names:")
pay_clean.printSchema()

After cleaning column names:
root
 |-- Hash1: string (nullable = true)
 |-- Hash2: string (nullable = true)
 |-- Birth_Year: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Pay_Grade: string (nullable = true)
 |-- FLSA_Status: string (nullable = true)
 |-- EEOJ_Code: string (nullable = true)
 |-- Employment_Type: string (nullable = true)
 |-- Department_ID: integer (nullable = true)
 |-- Department_Name: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Date_Position_Began: string (nullable = true)
 |-- Date_Position_Ended: string (nullable = true)
 |-- Annual_Base_Salary: double (nullable = true)
 |-- Gross_Pay: double (nullable = true)
 |-- Base_Pay: double (nullable = true)
 |-- Overtime_Pay: double (nullable = true)
 |-- Other_Pay: double (nullable = true)
 |-- PositionEndFlag: string (nullable = false)

<p>Reason:<br>
To avoid Spark errors and ensure consistent naming for transformations and joins</p>

In [22]:
#b. convert date fields
from pyspark.sql.functions import to_date, col
date_formats = {
    "Date_Position_Began": "dd/MM/yyyy",
    "Date_Position_Ended": "dd/MM/yyyy"
}
for c, fmt in date_formats.items():
    if c in pay_clean.columns:
        pay_clean = pay_clean.withColumn(c, to_date(col(c), fmt))
print("After converting date columns:")
pay_clean.select("Date_Position_Began", "Date_Position_Ended").show(5)

After converting date columns:
+-------------------+-------------------+
|Date_Position_Began|Date_Position_Ended|
+-------------------+-------------------+
|         2025-01-01|         2025-02-01|
|         2025-01-01|         2025-02-01|
|         2025-01-01|         2025-02-01|
|         2025-01-01|         2025-02-01|
|         2025-01-01|         2025-02-01|
+-------------------+-------------------+
only showing top 5 rows

<p>Reason:<br>
Convert date strings into valid date types to calculate tenure and length of service</p>

In [23]:
#c. clean the race column
from pyspark.sql.functions import when, col
pay_clean = pay_clean.withColumn(
    "Race",
    when(col("Race") == "Asian", "Asian")
    .when(col("Race") == "Black or African American", "Black")
    .when(col("Race") == "Hispanic/Latino", "Hispanic")
    .when(col("Race") == "White", "White")
    .otherwise("Other")
)
print("After cleaning the race column:")
pay_clean.select("Race").show(10, truncate=False)

After cleaning the race column:
+--------+
|Race    |
+--------+
|Black   |
|White   |
|Black   |
|Black   |
|Black   |
|Asian   |
|Black   |
|Black   |
|Hispanic|
|White   |
+--------+
only showing top 10 rows

<p>Reason:<br>
Race column was standardised into simplified, analysis-friendly categories. This is necessary because the original dataset included long and inconsistent labels such as “Black or African American” and “Hispanic/Latino”. A new field Race_Clean was created to group race values into consistent categories including “Black”, “Hispanic”, “Asian”, “White”, and “Other”.</p>

In [24]:
#d. convert numeric columns
numeric_cols = [
    "Birth_Year",
    "Pay_Grade",
    "Annual_Base_Salary",
    "Gross_Pay",
    "Base_Pay",
    "Overtime_Pay",
    "Other_Pay"
]
for c in numeric_cols:
    if c in pay_clean.columns:
        pay_clean = pay_clean.withColumn(c, col(c).cast("double"))

<p>Reason:<br>
These columns must be numeric for aggregations, analytics and creating KPIs like total compensation</p>

In [25]:
#e. create a new column for years of service
from pyspark.sql.functions import current_date, months_between, floor
pay_clean = pay_clean.withColumn(
    "YearsOfService",
    floor(months_between(current_date(), col("Date_Position_Began")) / 12)
)
print("Years of Service sample:")
pay_clean.select("Date_Position_Began", "YearsOfService").show(5)

Years of Service sample:
+-------------------+--------------+
|Date_Position_Began|YearsOfService|
+-------------------+--------------+
|         2025-01-01|             0|
|         2025-01-01|             0|
|         2025-01-01|             0|
|         2025-01-01|             0|
|         2025-01-01|             0|
+-------------------+--------------+
only showing top 5 rows

<p>Reason:<br>
This supports workforce finance analytics such as salary growth vs. years of service</p>

In [26]:
#f. create a new column for total compensation
pay_clean = pay_clean.withColumn(
    "TotalCompensation",
    col("Base_Pay") + col("Overtime_Pay") + col("Other_Pay")
)
print("Total compensation sample:")
pay_clean.select("Base_Pay", "Overtime_Pay", "Other_Pay", "TotalCompensation").show(5)

Total compensation sample:
+--------+------------+---------+------------------+
|Base_Pay|Overtime_Pay|Other_Pay| TotalCompensation|
+--------+------------+---------+------------------+
| 1192.32|         0.0|    94.29|           1286.61|
| 1812.91|         0.0|     77.7|1890.6100000000001|
| 3166.68|         0.0| 94842.41|          98009.09|
|  1090.2|       290.3|   797.88|           2178.38|
| 1571.92|         0.0| 19156.29|          20728.21|
+--------+------------+---------+------------------+
only showing top 5 rows

<p>Reason:<br>
This gives a realistic financial metric of earnings and not just base salary</p>

In [27]:
#g. create a new column for pay grade category
from pyspark.sql.functions import when
pay_clean = pay_clean.withColumn(
    "PayGradeCategory",
    when(col("Pay_Grade") <= 10, "Low")
    .when((col("Pay_Grade") > 10) & (col("Pay_Grade") <= 20), "Mid")
    .otherwise("High")
)
pay_clean.select("Pay_Grade", "PayGradeCategory").show(5)

+---------+----------------+
|Pay_Grade|PayGradeCategory|
+---------+----------------+
|     15.0|             Mid|
|     20.0|             Mid|
|     27.0|            High|
|      6.0|             Low|
|     13.0|             Mid|
+---------+----------------+
only showing top 5 rows

<p>Reason:<br>
Payment grade helps compare compensation across departments and demographics</p>

In [28]:
#h. create a new column for employment status flag
pay_clean = pay_clean.withColumn(
    "IsActive",
    when(col("Status") == "Active", 1).otherwise(0)
)
print("Employment active status sample:")
pay_clean.select("Status", "IsActive").show(5)

Employment active status sample:
+---------+--------+
|   Status|IsActive|
+---------+--------+
|Withdrawn|       0|
|Withdrawn|       0|
|Withdrawn|       0|
|Withdrawn|       0|
|Withdrawn|       0|
+---------+--------+
only showing top 5 rows

<p>Reason:<br>
Required for turnover and workforce stability analytics</p>

In [29]:
#i. create Age in Payroll dataset
from pyspark.sql.functions import col
current_year = 2025
pay_clean = pay_clean.withColumn(
    "Age",
    current_year - col("Birth_Year")
)
pay_clean.select("Birth_Year", "Age").show(10)

+----------+----+
|Birth_Year| Age|
+----------+----+
|    1955.0|70.0|
|    1955.0|70.0|
|    1963.0|62.0|
|    1973.0|52.0|
|    1959.0|66.0|
|    1958.0|67.0|
|    1959.0|66.0|
|    1948.0|77.0|
|    1960.0|65.0|
|    1954.0|71.0|
+----------+----+
only showing top 10 rows

In [30]:
#j. create AgeGroup
from pyspark.sql.functions import when
pay_clean = pay_clean.withColumn(
    "AgeGroup",
    when(col("Age") < 30, "Under 30")
    .when((col("Age") >= 30) & (col("Age") <= 39), "30-39")
    .when((col("Age") >= 40) & (col("Age") <= 49), "40-49")
    .when((col("Age") >= 50) & (col("Age") <= 59), "50-59")
    .otherwise("60+")
)
pay_clean.groupBy("AgeGroup").count().show()

+--------+-----+
|AgeGroup|count|
+--------+-----+
|   30-39| 6401|
|     60+| 3569|
|   40-49| 6437|
|Under 30| 4572|
|   50-59| 6230|
+--------+-----+

In [31]:
#k. drop useless columns
cols_to_drop = ["Hash1", "Hash2", "Department_ID"]
pay_clean = pay_clean.drop(*cols_to_drop)

<p>Reason:<br>
- Hash1 and Hash2 are hashed IDs and do not match the HR dataset</br>
- Department ID are internal codes used only inside the Houston payroll system</br>
- They cannot be used for merging</br>
- They contribute no analytical value</p>

In [32]:
print("Final cleaned payroll data:")
pay_clean.show(5, truncate=False)

Final cleaned payroll data:
+----------+------+-----+---------+-----------+----------------------+---------------+----------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+--------------+------------------+----------------+--------+----+--------+
|Birth_Year|Gender|Race |Pay_Grade|FLSA_Status|EEOJ_Code             |Employment_Type|Department_Name       |Status   |Year|Date_Position_Began|Date_Position_Ended|Annual_Base_Salary|Gross_Pay|Base_Pay|Overtime_Pay|Other_Pay|PositionEndFlag|YearsOfService|TotalCompensation |PayGradeCategory|IsActive|Age |AgeGroup|
+----------+------+-----+---------+-----------+----------------------+---------------+----------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+--------------+------------------+----------------+--------+----+--------+
|1955.0    |Female|Black|15.0     |Non-Exempt |B: Professionals      |Full Time      |Municipal Courts      |Withdrawn|2025|2025-01-01         |2025-02-01         |51667.0           |1286.61  |1192.32 |0.0         |94.29    |Ended          |0             |1286.61           |Mid             |0       |70.0|60+     |
|1955.0    |Female|White|20.0     |Exempt     |B: Professionals      |Full Time      |Parks & Recreation    |Withdrawn|2025|2025-01-01         |2025-02-01         |67337.0           |1890.61  |1812.91 |0.0         |77.7     |Ended          |0             |1890.6100000000001|Mid             |0       |70.0|60+     |
|1963.0    |Male  |Black|27.0     |Exempt     |B: Professionals      |Full Time      |Police                |Withdrawn|2025|2025-01-01         |2025-02-01         |117620.0          |98009.09 |3166.68 |0.0         |94842.41 |Ended          |0             |98009.09          |High            |0       |62.0|60+     |
|1973.0    |Male  |Black|6.0      |Non-Exempt |H: Service/Maintenance|Full Time      |Houston Public Works  |Withdrawn|2025|2025-01-01         |2025-02-01         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |Ended          |0             |2178.38           |Low             |0       |52.0|50-59   |
|1959.0    |Male  |Black|13.0     |Non-Exempt |H: Service/Maintenance|Full Time      |Solid Waste Management|Withdrawn|2025|2025-01-01         |2025-02-01         |58386.0           |20728.21 |1571.92 |0.0         |19156.29 |Ended          |0             |20728.21          |Mid             |0       |66.0|60+     |
+----------+------+-----+---------+-----------+----------------------+---------------+----------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+--------------+------------------+----------------+--------+----+--------+
only showing top 5 rows

<h3>Step 9: Perform Data Transformation (Cont'd) for Departments</h3>

In [33]:
hr_clean.select("DepartmentType").distinct().show(100, truncate=False)

+--------------------+
|DepartmentType      |
+--------------------+
|Sales               |
|Production          |
|Admin Offices       |
|Executive Office    |
|Software Engineering|
|IT/IS               |
+--------------------+

In [34]:
pay_clean.select("Department_Name").distinct().show(200, truncate=False)

+-----------------------------+
|Department_Name              |
+-----------------------------+
|Houston Emergency Center     |
|Library                      |
|Municipal Courts             |
|Health & Human Services      |
|Houston Airport System       |
|Information Technology       |
|Finance                      |
|Mayor's Office               |
|Solid Waste Management       |
|Houston Public Works         |
|Business Opportunity         |
|Police                       |
|Parks & Recreation           |
|Fleet Management             |
|Legal                        |
|General Services             |
|Admin. & Regulatory Affairs  |
|City Secretary               |
|Housing & Community Devlpmnt.|
|City Council                 |
|Fire                         |
|Planning & Development       |
|Department of Neighborhoods  |
|Controllers                  |
|Human Resources              |
+-----------------------------+

In [35]:
#Create the mapping table for HR Department Type
from pyspark.sql.functions import when, col
hr_with_cat = hr_clean.withColumn(
    "DeptCategory",
    when(col("DepartmentType") == "Sales", "Operations")
    .when(col("DepartmentType") == "Production", "Operations")
    .when(col("DepartmentType") == "Admin Offices", "Corporate")
    .when(col("DepartmentType") == "Executive Office", "Corporate")
    .when(col("DepartmentType") == "Software Engineering", "Technology")
    .when(col("DepartmentType") == "IT/IS", "Technology")
    .otherwise("Other")
)
# Optional: quick sanity check
hr_with_cat.groupBy("DepartmentType", "DeptCategory").count().show()

+--------------------+------------+-----+
|      DepartmentType|DeptCategory|count|
+--------------------+------------+-----+
|Software Engineering|  Technology|  121|
|       Admin Offices|   Corporate|   85|
|               IT/IS|  Technology|  459|
|               Sales|  Operations|  345|
|    Executive Office|   Corporate|   25|
|   Production       |       Other| 2115|
+--------------------+------------+-----+

In [36]:
#Create the mapping table for Payroll Department
pay_with_cat = pay_clean.withColumn(
    "DeptCategory",
    when(col("Department_Name") == "Information Technology", "Technology")
    # Corporate
    .when(col("Department_Name").isin(
        "Finance",
        "Mayor's Office",
        "Admin. & Regulatory Affairs",
        "City Secretary",
        "Controllers",
        "Human Resources",
        "Legal"
    ), "Corporate")
    # Operations
    .when(col("Department_Name").isin(
        "Fleet Management",
        "General Services",
        "Solid Waste Management",
        "Houston Public Works",
        "Houston Airport System",
        "Business Opportunity"
    ), "Operations")
    # Public service
    .when(col("Department_Name").isin(
        "Houston Emergency Center",
        "Library",
        "Municipal Courts",
        "Health & Human Services",
        "Parks & Recreation",
        "Police",
        "Fire",
        "Planning & Development",
        "Department of Neighborhoods",
        "Housing & Community Devlpmnt.",
        "City Council"
    ), "Public Service")
    .otherwise("Other")
)
# Optional: sanity check
pay_with_cat.groupBy("Department_Name", "DeptCategory").count().show()

+--------------------+--------------+-----+
|     Department_Name|  DeptCategory|count|
+--------------------+--------------+-----+
|Houston Emergency...|Public Service|  268|
|Admin. & Regulato...|     Corporate|  550|
|  Parks & Recreation|Public Service| 1150|
|Solid Waste Manag...|    Operations|  503|
|        City Council|Public Service|  124|
|Planning & Develo...|Public Service|   99|
|Houston Public Works|    Operations| 4462|
|         Controllers|     Corporate|   82|
|             Finance|     Corporate|  294|
|    Municipal Courts|Public Service|  292|
|      Mayor's Office|     Corporate|  124|
|    Fleet Management|    Operations|  410|
|Health & Human Se...|Public Service| 1325|
|Houston Airport S...|    Operations| 1631|
|Information Techn...|    Technology|  311|
|    General Services|    Operations|  273|
|Business Opportunity|    Operations|   46|
|      City Secretary|     Corporate|   11|
|     Human Resources|     Corporate|  735|
|             Library|Public Service|  591|
+--------------------+--------------+-----+
only showing top 20 rows

In [37]:
print("HR Categories:")
hr_with_cat.select("DeptCategory").distinct().show()
print("Payroll Categories:")
pay_with_cat.select("DeptCategory").distinct().show()

HR Categories:
+------------+
|DeptCategory|
+------------+
|       Other|
|  Technology|
|   Corporate|
|  Operations|
+------------+

Payroll Categories:
+--------------+
|  DeptCategory|
+--------------+
|Public Service|
|    Technology|
|     Corporate|
|    Operations|
+--------------+

<h3>Step 10: Perform Merge</h3>

In [38]:
final_df = hr_with_cat.join(
    pay_with_cat,
    on="DeptCategory",
    how="inner"
)

In [39]:
final_df.show(5, truncate=False)

+------------+---------+--------+----------+----------+------------------------+------------+--------------+------------+-------+--------------------------+---------------+---------------------------------------------+--------------+------------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+---------------------+-------------+---+--------+------+------------+----------+------+-----+---------+-----------+----------------------+---------------+--------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+--------------+-----------------+----------------+--------+----+--------+
|DeptCategory|FirstName|LastName|StartDate |ExitDate  |Title                   |BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|TerminationDescription                       |DepartmentType|Division                |DOB       |State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance_Score|Current_Employee_Rating|Employee_ID|Survey_Date|Engagement_Score|Satisfaction_Score|Work_Life_Balance_Score|Training_Date|Training_Program_Name|Training_Type|Training_Outcome|Location         |Training_DurationDays|Training_Cost|Age|AgeGroup|Tenure|TurnoverFlag|Birth_Year|Gender|Race |Pay_Grade|FLSA_Status|EEOJ_Code             |Employment_Type|Department_Name     |Status   |Year|Date_Position_Began|Date_Position_Ended|Annual_Base_Salary|Gross_Pay|Base_Pay|Overtime_Pay|Other_Pay|PositionEndFlag|YearsOfService|TotalCompensation|PayGradeCategory|IsActive|Age |AgeGroup|
+------------+---------+--------+----------+----------+------------------------+------------+--------------+------------+-------+--------------------------+---------------+---------------------------------------------+--------------+------------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+---------------------+-------------+---+--------+------+------------+----------+------+-----+---------+-----------+----------------------+---------------+--------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+--------------+-----------------+----------------+--------+----+--------+
|Operations  |Cruz     |Arellano|2019-09-17|NULL      |Area Sales Manager      |SVG         |Active        |Full-Time   |Zone B |Full-Time                 |Unk            |Not Applicable                               |Sales         |General - Con           |1993-08-08|AZ   |Laborer               |Male      |19215       |Asian   |Single     |Fully Meets      |4.0                    |2591       |2023-07-28 |4.0             |5.0               |5.0                    |2022-10-06   |Customer Service     |Internal     |Completed       |North Michaelbury|2.0                  |745.31       |32 |30-39   |6     |0           |1973.0    |Male  |Black|6.0      |Non-Exempt |H: Service/Maintenance|Full Time      |Houston Public Works|Withdrawn|2025|2025-01-01         |2025-02-01         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |Ended          |0             |2178.38          |Low             |0       |52.0|50-59   |
|Operations  |Fernando |Richard |2023-07-09|2023-07-14|Administrative Assistant|SVG         |Active        |Contract    |Zone C |Temporary                 |Voluntary      |Continue personal federal another.           |Sales         |General - Sga           |1954-03-08|MA   |Manager               |Female    |15228       |Other   |Widowed    |Fully Meets      |4.0                    |2652       |2022-11-11 |1.0             |4.0               |2.0                    |2022-10-23   |Customer Service     |External     |Incomplete      |Lake Michael     |1.0                  |424.44       |71 |60+     |2     |1           |1973.0    |Male  |Black|6.0      |Non-Exempt |H: Service/Maintenance|Full Time      |Houston Public Works|Withdrawn|2025|2025-01-01         |2025-02-01         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |Ended          |0             |2178.38          |Low             |0       |52.0|50-59   |
|Operations  |Anya     |Baldwin |2019-11-29|2020-04-21|Administrative Assistant|SVG         |Active        |Full-Time   |Zone C |Part-Time                 |Involuntary    |Glass effort however relate partner lay what.|Sales         |General - Con           |2001-03-02|WA   |Laborer               |Female    |44158       |Hispanic|Widowed    |Fully Meets      |1.0                    |2601       |2022-10-06 |3.0             |5.0               |5.0                    |2023-06-29   |Communication Skills |External     |Failed          |Marissastad      |5.0                  |944.24       |24 |Under 30|5     |1           |1973.0    |Male  |Black|6.0      |Non-Exempt |H: Service/Maintenance|Full Time      |Houston Public Works|Withdrawn|2025|2025-01-01         |2025-02-01         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |Ended          |0             |2178.38          |Low             |0       |52.0|50-59   |
|Operations  |Caiden   |Munoz   |2020-12-13|2023-01-13|Area Sales Manager      |TNS         |Active        |Full-Time   |Zone C |Temporary                 |Involuntary    |Red some option.                             |Sales         |Project Management - Con|1963-03-01|ND   |Manager               |Female    |18983       |Black   |Divorced   |Fully Meets      |1.0                    |3520       |2022-09-17 |5.0             |1.0               |1.0                    |2022-09-11   |Customer Service     |External     |Incomplete      |North Anthonybury|1.0                  |607.93       |62 |60+     |4     |1           |1973.0    |Male  |Black|6.0      |Non-Exempt |H: Service/Maintenance|Full Time      |Houston Public Works|Withdrawn|2025|2025-01-01         |2025-02-01         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |Ended          |0             |2178.38          |Low             |0       |52.0|50-59   |
|Operations  |Nevaeh   |Soto    |2023-01-15|NULL      |Area Sales Manager      |SVG         |Active        |Contract    |Zone C |Full-Time                 |Unk            |Not Applicable                               |Sales         |Project Management - Con|1982-01-12|TX   |Director              |Male      |74124       |Other   |Married    |Exceeds          |4.0                    |3472       |2023-07-26 |5.0             |5.0               |4.0                    |2023-02-12   |Technical Skills     |External     |Completed       |Port Karatown    |5.0                  |537.24       |43 |40-49   |2     |0           |1973.0    |Male  |Black|6.0      |Non-Exempt |H: Service/Maintenance|Full Time      |Houston Public Works|Withdrawn|2025|2025-01-01         |2025-02-01         |37794.0           |2178.38  |1090.2  |290.3       |797.88   |Ended          |0             |2178.38          |Low             |0       |52.0|50-59   |
+------------+---------+--------+----------+----------+------------------------+------------+--------------+------------+-------+--------------------------+---------------+---------------------------------------------+--------------+------------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+-----------+-----------+----------------+------------------+-----------------------+-------------+---------------------+-------------+----------------+-----------------+---------------------+-------------+---+--------+------+------------+----------+------+-----+---------+-----------+----------------------+---------------+--------------------+---------+----+-------------------+-------------------+------------------+---------+--------+------------+---------+---------------+--------------+-----------------+----------------+--------+----+--------+
only showing top 5 rows

In [40]:
print("Merged row count:", final_df.count())

Merged row count: 2927395

In [41]:
final_df.columns

['DeptCategory',
 'FirstName',
 'LastName',
 'StartDate',
 'ExitDate',
 'Title',
 'BusinessUnit',
 'EmployeeStatus',
 'EmployeeType',
 'PayZone',
 'EmployeeClassificationType',
 'TerminationType',
 'TerminationDescription',
 'DepartmentType',
 'Division',
 'DOB',
 'State',
 'JobFunctionDescription',
 'GenderCode',
 'LocationCode',
 'RaceDesc',
 'MaritalDesc',
 'Performance_Score',
 'Current_Employee_Rating',
 'Employee_ID',
 'Survey_Date',
 'Engagement_Score',
 'Satisfaction_Score',
 'Work_Life_Balance_Score',
 'Training_Date',
 'Training_Program_Name',
 'Training_Type',
 'Training_Outcome',
 'Location',
 'Training_DurationDays',
 'Training_Cost',
 'Age',
 'AgeGroup',
 'Tenure',
 'TurnoverFlag',
 'Birth_Year',
 'Gender',
 'Race',
 'Pay_Grade',
 'FLSA_Status',
 'EEOJ_Code',
 'Employment_Type',
 'Department_Name',
 'Status',
 'Year',
 'Date_Position_Began',
 'Date_Position_Ended',
 'Annual_Base_Salary',
 'Gross_Pay',
 'Base_Pay',
 'Overtime_Pay',
 'Other_Pay',
 'PositionEndFlag',
 'YearsOfService',
 'TotalCompensation',
 'PayGradeCategory',
 'IsActive',
 'Age',
 'AgeGroup']

In [42]:
final_df = final_df.drop("Age", "AgeGroup")

from pyspark.sql.functions import col
final_df = final_df.withColumn("Age", 2025 - col("Birth_Year"))

In [43]:
from pyspark.sql.functions import col
final_df = final_df.withColumn("Age", 2025 - col("Birth_Year"))

In [44]:
from pyspark.sql.functions import when
final_df = final_df.withColumn(
    "AgeGroup",
    when(col("Age") < 20, "Under 20")
    .when((col("Age") >= 20) & (col("Age") < 30), "20-29")
    .when((col("Age") >= 30) & (col("Age") < 40), "30-39")
    .when((col("Age") >= 40) & (col("Age") < 50), "40-49")
    .when((col("Age") >= 50) & (col("Age") < 60), "50-59")
    .otherwise("60+")
)

In [45]:
from collections import Counter
[col for col, count in Counter(final_df.columns).items() if count > 1]

[]

In [46]:
from pyspark.sql.functions import count
table1_demo = final_df.groupBy("AgeGroup", "Gender", "Race").agg(count("*").alias("EmployeeCount"))
table1_demo.show()

+--------+------+--------+-------------+
|AgeGroup|Gender|    Race|EmployeeCount|
+--------+------+--------+-------------+
|   40-49|Female|   White|        27920|
|   40-49|Female|   Black|       137120|
|   40-49|Female|   Asian|        25550|
|   40-49|  Male|Hispanic|       107865|
|   50-59|Female|Hispanic|        55545|
|     60+|Female|   Asian|        19260|
|Under 20|Female|   Black|         7150|
|Under 20|  Male|Hispanic|         3705|
|   20-29|Female|   Other|          330|
|   30-39|Female|   Black|       101530|
|   50-59|  Male|   Other|         5520|
|   20-29|  Male|   White|        14275|
|Under 20|  Male|   Black|         4555|
|   50-59|  Male|Hispanic|       106310|
|Under 20|  Male|   White|          770|
|     60+|  Male|   Black|       169150|
|     60+|  Male|   White|       103880|
|   20-29|  Male|   Asian|        15370|
|   40-49|  Male|   Other|         5865|
|   20-29|  Male|   Other|         1380|
+--------+------+--------+-------------+
only showing top 20 rows

In [47]:
from pyspark.sql.functions import count, avg, col
table2_engagement = final_df.groupBy(
    "DeptCategory", "AgeGroup", "Gender", "Race").agg(
    avg("Engagement_Score").alias("Avg_Engagement"),
    avg("Satisfaction_Score").alias("Avg_Satisfaction"),
    avg("Work_Life_Balance_Score").alias("Avg_WorkLifeBalance"),
    count("*").alias("EmployeeCount")
)
table2_engagement.show(20, truncate=False)

+------------+--------+------+--------+------------------+------------------+-------------------+-------------+
|DeptCategory|AgeGroup|Gender|Race    |Avg_Engagement    |Avg_Satisfaction  |Avg_WorkLifeBalance|EmployeeCount|
+------------+--------+------+--------+------------------+------------------+-------------------+-------------+
|Technology  |40-49   |Female|Hispanic|3.010344827586207 |3.0620689655172413|3.0086206896551726 |2320         |
|Corporate   |Under 20|Female|Other   |3.0272727272727273|2.6545454545454548|3.190909090909091  |330          |
|Technology  |60+     |Male  |Hispanic|3.010344827586207 |3.0620689655172413|3.0086206896551726 |6380         |
|Operations  |60+     |Female|White   |3.0               |3.1478260869565218|3.072463768115942  |16905        |
|Corporate   |Under 20|Female|Asian   |3.0272727272727273|2.6545454545454548|3.190909090909091  |1320         |
|Corporate   |60+     |Male  |White   |3.0272727272727273|2.6545454545454548|3.190909090909091  |3410         |
|Operations  |40-49   |Male  |Other   |3.0               |3.1478260869565218|3.072463768115942  |5175         |
|Operations  |50-59   |Male  |Black   |3.0               |3.1478260869565218|3.072463768115942  |252540       |
|Operations  |20-29   |Female|Hispanic|3.0               |3.1478260869565218|3.072463768115942  |15870        |
|Corporate   |50-59   |Female|Asian   |3.0272727272727273|2.6545454545454548|3.190909090909091  |4070         |
|Operations  |30-39   |Female|White   |3.0               |3.1478260869565218|3.072463768115942  |16215        |
|Operations  |50-59   |Male  |White   |3.0               |3.1478260869565218|3.072463768115942  |77625        |
|Operations  |20-29   |Male  |Other   |3.0               |3.1478260869565218|3.072463768115942  |1380         |
|Technology  |20-29   |Female|White   |3.010344827586207 |3.0620689655172413|3.0086206896551726 |1160         |
|Technology  |60+     |Male  |Asian   |3.010344827586207 |3.0620689655172413|3.0086206896551726 |11600        |
|Technology  |60+     |Female|Asian   |3.010344827586207 |3.0620689655172413|3.0086206896551726 |4060         |
|Corporate   |Under 20|Male  |Hispanic|3.0272727272727273|2.6545454545454548|3.190909090909091  |1980         |
|Operations  |30-39   |Male  |Other   |3.0               |3.1478260869565218|3.072463768115942  |4140         |
|Technology  |60+     |Female|White   |3.010344827586207 |3.0620689655172413|3.0086206896551726 |1160         |
|Corporate   |40-49   |Male  |Hispanic|3.0272727272727273|2.6545454545454548|3.190909090909091  |3190         |
+------------+--------+------+--------+------------------+------------------+-------------------+-------------+
only showing top 20 rows

In [48]:
from pyspark.sql.functions import avg, count
table3_compensation = final_df.groupBy(
    "DeptCategory", "AgeGroup", "Gender", "Race").agg(
    avg("Annual_Base_Salary").alias("Avg_Salary"),
    avg("Base_Pay").alias("Avg_BasePay"),
    avg("Overtime_Pay").alias("Avg_OvertimePay"),
    avg("TotalCompensation").alias("Avg_TotalCompensation"),
    count("*").alias("Payroll_Count")
)
table3_compensation.show(20, truncate=False)

+------------+--------+------+--------+------------------+------------------+------------------+---------------------+-------------+
|DeptCategory|AgeGroup|Gender|Race    |Avg_Salary        |Avg_BasePay       |Avg_OvertimePay   |Avg_TotalCompensation|Payroll_Count|
+------------+--------+------+--------+------------------+------------------+------------------+---------------------+-------------+
|Technology  |40-49   |Female|Hispanic|74320.25          |44631.5275000002  |0.0               |45463.00000000034    |2320         |
|Corporate   |Under 20|Female|Other   |29120.0           |2518.8333333333335|0.0               |2518.8333333333335   |330          |
|Technology  |60+     |Male  |Hispanic|94340.09090909091 |32295.591818180535|90.98181818181793 |61022.24636363305    |6380         |
|Operations  |60+     |Female|White   |90946.48979591837 |41959.45081632884 |401.70265306122405|57751.68244898189    |16905        |
|Corporate   |Under 20|Female|Asian   |29120.0           |2250.7916666666665|0.0               |2250.7916666666665   |1320         |
|Corporate   |60+     |Male  |White   |115279.48387096774|53598.50225806457 |58.84419354838711 |65845.61193548336    |3410         |
|Operations  |40-49   |Male  |Other   |66929.66666666667 |40173.82466666679 |3343.2060000000392|44690.511333334834   |5175         |
|Operations  |50-59   |Male  |Black   |62466.11202185792 |35555.65228142936 |6180.311202186606 |46002.50756830835    |252540       |
|Operations  |20-29   |Female|Hispanic|50473.586956521736|25451.02630434848 |1316.9882608695616|27659.817608696318   |15870        |
|Corporate   |50-59   |Female|Asian   |105743.5945945946 |58195.590270270826|0.0               |59233.58567567642    |4070         |
|Operations  |30-39   |Female|White   |78305.31914893616 |40886.57340425367 |1916.674042553216 |43932.64297872069    |16215        |
|Operations  |50-59   |Male  |White   |95966.03111111111 |57404.74275555237 |3567.331066666576 |65170.063955552374   |77625        |
|Operations  |20-29   |Male  |Other   |59035.5           |28323.725         |6814.122500000055 |35080.65249999956    |1380         |
|Technology  |20-29   |Female|White   |52207.0           |2133.204999999996 |0.0               |2396.0250000000087   |1160         |
|Technology  |60+     |Male  |Asian   |96451.7           |43570.35199999734 |176.63800000000043|52959.86899999453    |11600        |
|Technology  |60+     |Female|Asian   |104089.42857142857|40676.522857144635|0.0               |69786.06714285411    |4060         |
|Corporate   |Under 20|Male  |Hispanic|29120.0           |2601.472222222222 |0.0               |2601.472222222222    |1980         |
|Operations  |30-39   |Male  |Other   |62286.916666666664|29986.424166666773|4971.844166666686 |35540.572500000584   |4140         |
|Technology  |60+     |Female|White   |130121.0          |61191.35000000003 |0.0               |86671.28999999803    |1160         |
|Corporate   |40-49   |Male  |Hispanic|75699.58620689655 |41696.24758620647 |253.1358620689656 |42865.78275862099    |3190         |
+------------+--------+------+--------+------------------+------------------+------------------+---------------------+-------------+
only showing top 20 rows

In [49]:
from pyspark.sql.functions import sum as _sum, avg, count
table4_turnover = final_df.groupBy(
    "DeptCategory", "AgeGroup", "Gender", "Race"
).agg(
    _sum("TurnoverFlag").alias("Total_Leavers"),
    count("*").alias("Total_Employees"),
    avg("Tenure").alias("Avg_Tenure")
).withColumn(
    "TurnoverRate", col("Total_Leavers") / col("Total_Employees")
)
table4_turnover.show(20, truncate=False)

+------------+--------+------+--------+-------------+---------------+-----------------+------------------+
|DeptCategory|AgeGroup|Gender|Race    |Total_Leavers|Total_Employees|Avg_Tenure       |TurnoverRate      |
+------------+--------+------+--------+-------------+---------------+-----------------+------------------+
|Technology  |40-49   |Female|Hispanic|1240         |2320           |4.346551724137931|0.5344827586206896|
|Corporate   |Under 20|Female|Other   |213          |330            |4.627272727272727|0.6454545454545455|
|Technology  |60+     |Male  |Hispanic|3410         |6380           |4.346551724137931|0.5344827586206896|
|Operations  |60+     |Female|White   |8379         |16905          |4.350724637681159|0.4956521739130435|
|Corporate   |Under 20|Female|Asian   |852          |1320           |4.627272727272727|0.6454545454545455|
|Corporate   |60+     |Male  |White   |2201         |3410           |4.627272727272727|0.6454545454545455|
|Operations  |40-49   |Male  |Other   |2565         |5175           |4.350724637681159|0.4956521739130435|
|Operations  |50-59   |Male  |Black   |125172       |252540         |4.350724637681159|0.4956521739130435|
|Operations  |20-29   |Female|Hispanic|7866         |15870          |4.350724637681159|0.4956521739130435|
|Corporate   |50-59   |Female|Asian   |2627         |4070           |4.627272727272727|0.6454545454545455|
|Operations  |30-39   |Female|White   |8037         |16215          |4.350724637681159|0.4956521739130435|
|Operations  |50-59   |Male  |White   |38475        |77625          |4.350724637681159|0.4956521739130435|
|Operations  |20-29   |Male  |Other   |684          |1380           |4.350724637681159|0.4956521739130435|
|Technology  |20-29   |Female|White   |620          |1160           |4.346551724137931|0.5344827586206896|
|Technology  |60+     |Male  |Asian   |6200         |11600          |4.346551724137931|0.5344827586206896|
|Technology  |60+     |Female|Asian   |2170         |4060           |4.346551724137931|0.5344827586206896|
|Corporate   |Under 20|Male  |Hispanic|1278         |1980           |4.627272727272727|0.6454545454545455|
|Operations  |30-39   |Male  |Other   |2052         |4140           |4.350724637681159|0.4956521739130435|
|Technology  |60+     |Female|White   |620          |1160           |4.346551724137931|0.5344827586206896|
|Corporate   |40-49   |Male  |Hispanic|2059         |3190           |4.627272727272727|0.6454545454545455|
+------------+--------+------+--------+-------------+---------------+-----------------+------------------+
only showing top 20 rows

In [50]:
from pyspark.sql.functions import avg, sum as _sum, count
table5_training = final_df.groupBy(
    "DeptCategory", "AgeGroup", "Gender", "Race"
).agg(
    avg("Training_DurationDays").alias("Avg_TrainingDays"),
    _sum("Training_Cost").alias("Total_TrainingCost"),
    count("Training_Program_Name").alias("Training_Count")
)
table5_training.show(20, truncate=False)

+------------+--------+------+--------+------------------+--------------------+--------------+
|DeptCategory|AgeGroup|Gender|Race    |Avg_TrainingDays  |Total_TrainingCost  |Training_Count|
+------------+--------+------+--------+------------------+--------------------+--------------+
|Technology  |40-49   |Female|Hispanic|3.0120689655172415|1329740.92          |2320          |
|Corporate   |Under 20|Female|Other   |2.963636363636364 |181869.48000000019  |330           |
|Technology  |60+     |Male  |Hispanic|3.0120689655172415|3656787.5300000035  |6380          |
|Operations  |60+     |Female|White   |2.907246376811594 |9072758.660000052   |16905         |
|Corporate   |Under 20|Female|Asian   |2.963636363636364 |727477.9199999997   |1320          |
|Corporate   |60+     |Male  |White   |2.963636363636364 |1879317.959999996   |3410          |
|Operations  |40-49   |Male  |Other   |2.907246376811594 |2777375.099999987   |5175          |
|Operations  |50-59   |Male  |Black   |2.907246376811594 |1.3553590488000977E8|252540        |
|Operations  |20-29   |Female|Hispanic|2.907246376811594 |8517283.640000045   |15870         |
|Corporate   |50-59   |Female|Asian   |2.963636363636364 |2243056.9199999934  |4070          |
|Operations  |30-39   |Female|White   |2.907246376811594 |8702441.980000045   |16215         |
|Operations  |50-59   |Male  |White   |2.907246376811594 |4.166062649999985E7 |77625         |
|Operations  |20-29   |Male  |Other   |2.907246376811594 |740633.3600000007   |1380          |
|Technology  |20-29   |Female|White   |3.0120689655172415|664870.4599999998   |1160          |
|Technology  |60+     |Male  |Asian   |3.0120689655172415|6648704.599999991   |11600         |
|Technology  |60+     |Female|Asian   |3.0120689655172415|2327046.6100000064  |4060          |
|Corporate   |Under 20|Male  |Hispanic|2.963636363636364 |1091216.8799999976  |1980          |
|Operations  |30-39   |Male  |Other   |2.907246376811594 |2221900.0799999917  |4140          |
|Technology  |60+     |Female|White   |3.0120689655172415|664870.4599999998   |1160          |
|Corporate   |40-49   |Male  |Hispanic|2.963636363636364 |1758071.6399999978  |3190          |
+------------+--------+------+--------+------------------+--------------------+--------------+
only showing top 20 rows

In [51]:
table1_demo.coalesce(1).write.option("header", True).mode("overwrite").csv("analytics_output/demo")
table2_engagement.coalesce(1).write.option("header", True).mode("overwrite").csv("analytics_output/engagement")
table3_compensation.coalesce(1).write.option("header", True).mode("overwrite").csv("analytics_output/compensation")
table4_turnover.coalesce(1).write.option("header", True).mode("overwrite").csv("analytics_output/turnover")
table5_training.coalesce(1).write.option("header", True).mode("overwrite").csv("analytics_output/training")